th,
td {
    text-align: center;
    padding: 1rem;
    border: none;
}


tr {
    border-bottom: 1px solid #ddd;
}

table {
    max-width: 40rem;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}