.makeStyles-paper-1 {
	margin-top: 15px !important;
}

.background-img {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background: linear-gradient(45deg, #DBE6F6 30%, #C5796D 90%);
}

.card-border{
	border-radius: 15px;
}