.borderStyle {
	border: 3px solid  #fe6b8b;
	border-radius: 10px;
	padding: 20px;
	box-shadow: gray;
}

.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.editor-class {
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 250px;
	overflow: auto;
  box-sizing: border-box;
}

.editor-class:focus-within {
	border: 2px solid #fe6b8b;
}

.toolbar-class {
	border: 1px solid #ccc;
	background: linear-gradient(45deg, #556270 30%, #ff6b6b 90%);
	border-radius: 5px;
}
.card-border{
	border-radius: 15px;
}

.headingText{
	background: -webkit-linear-gradient(#48525c, #ff6b6b);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Big Shoulders Inline Text', cursive;
}

