.background-img {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: linear-gradient(45deg, #dbe6f6 30%, #c5796d 90%);
}
.card-border {
  border-radius: 15px;
}

.headingText {
  background: -webkit-linear-gradient(#3a444e, #d84e4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Big Shoulders Inline Text', cursive;
}
