/* .modal-backdrop {

 background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
 opacity: 0.2;
} */
/* .modal-backdrop.in{
  opacity: 0.2;
} */

.background-img {
	/* background: url('../../images/SweetMorning.jpg') no-repeat center center
		fixed; */
	height: 100vh;
	width: 100%;
	background-size: cover;
	background: linear-gradient(45deg, #DBE6F6 30%, #C5796D 90%);
}
.card-border{
	border-radius: 15px;
}

.headingText{
	background: -webkit-linear-gradient(#48525c, #ff6b6b);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Big Shoulders Inline Text', cursive;
}


