.landingImg {
  background: url("../../images/landingPage.jpeg") no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: cover;
  /* background-size: 100%; */
}
.navbar-brand {
font-family: 'Faster One', cursive;
}
.content {
  font-family: "Marck Script", cursive;
  position: absolute;
  top: 20%;
  left: 50%;
  font-size: 45px;
  transform: translate(-50%, -50%);
}
.nav-item,
.navbar-brand {
  font-size: x-large;
}
.text-center {
	font-family: "Marck Script", cursive;
	position: absolute;
	top: 40%;
	left: 35%;
}