.landingImg {
    background: url('https://i.ytimg.com/vi/u50gg0g2txw/maxresdefault.jpg') no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    background-size: cover;
    background-size: 100%;
  }

  .content {
    font-family: 'Marck Script', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 45px;
    transform: translate(-50%, -50%);
  }