.landingImg {
	background: url('https://i.ytimg.com/vi/u50gg0g2txw/maxresdefault.jpg')
		no-repeat center center fixed;
	height: 100vh;
	width: 100%;
	display: flex;
	background-size: cover;
	/* background-size: 100%; */
}
.text-center {
  font-family: "Rozha One", serif;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
}
.jumbotron {
  background-color: white;
  width: 100%;
  padding: 65px;
}
.logo {
  position: absolute;
  top: 2%;
  left: 42%;
}
.icon {
  position: absolute;
  font-family:  serif;
  font-size: 50px;
  top: 13%;
  left: 45%;
}
.btn {
  color: black;
  font-family:  serif;
}
@media only screen and (max-width: 375px) {
  .logo {
    left: 23%;
  }
  .icon {
    left: 37%;
    top: 14%;
  }
  .btn {
   font-size: xx-small; 
   margin-inline-end: -40px;
  }

/* .content {
	font-family: 'Marck Script', cursive;
	position: absolute;
	top: 20%;
	left: 50%;
	font-size: 45px;
	transform: translate(-50%, -50%); */
}
